:root {
  --orange: #FF4F28;
  --orange-light: #FF8718;
  --black: #000000;
  --white: #FFFFFF;
  --yellow: #FFDE30;
  --gray: #4B4B4B;
  --gray-very-light: #F6F7F8;
  --gray-light: #F2F2F2;
  --white-dark: #FAFAFA;
  --red: #FF5858;
}