:root {
  --orange-dark: #FF4F28;
  --orange-light: #FF8718;
  --black: #000000;
  --white: #FFFFFF;
  --yellow: #FFDE30;
  --gray-very-light: #F6F7F8;
  --gray-light: #F2F2F2;
}

* {
  box-sizing: border-box;
}

figure {
  margin: 0;
}

input, textarea {
  &:focus-visible {
    outline: none;
  }
}